{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "rules": {
    "no-return-assign": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/state-in-constructor": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/forbid-prop-types": "off",
    "no-param-reassign": "off",
    "react/require-default-props": "off",
    "linebreak-style": 0
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.9"
    }
  },
  "env": {
    "browser": true
  }
}
