@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";

:global {
  .hero .navbar {
    background: $yellow;
  }

  @include until($desktop) {
    .hero.is-primary .navbar-menu, .hero.is-primary a.navbar-item:hover {
      background-color: white;
      color: black;
    }

    .hero.is-primary .navbar-item {
      color: black;
    }
  }

}

.brand img {
  height: 100%;
  width: auto;
  padding-left: 15px;
}

.nav_active {
  background-color: #e4bf29;
  font-weight: bold;

  @include until($desktop) {
    background-color: $grey-lighter;
  }

  &:focus {
    background-color: inherit;
  }
}
.logout {
  border-color: black;
  color: black;
  background-color: transparent;
}
