@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";

.root {
  align-self: flex-start;
}

.event__list {
  position: relative;
}

.loading {
  position: absolute;
  top: -30px;
  width: 100%;
  @include until($desktop) {
    position: relative;
    top: -10px;
  }
}
