.root {
  position: sticky;
  top: 50px;
}
.panel_tabs, .panel_block,.panel_heading, .panel_controls, .panel_price {
  display: block;
  border-left: none;
  border-right: none;
}
.panel_heading {
  border-top: none;
}
.panel_controls {
  border-bottom: none;
}

