.root {
  //background-color: white;
}
.panel_tabs, .panel_block,.panel_heading, .panel_controls {
  border-left: none;
  border-right: none;
}
.panel_heading {
  border-top: none;
}
.panel_controls {
  border-bottom: none;
}
