@import "~bulma/sass/utilities/initial-variables";

$ticket-bg: #fffadf;
$ticket-invert-yellow: #887428;

@mixin ticket-background-with-shadow {
  box-shadow: 0 2px 2px 0 rgba(41, 54, 61, 0.25);
  background-color: $ticket-bg;
}

.price {
  font-size: .9em;
  margin-top: .5em;
}

.card {
  margin: 0 auto;
  border-radius: 5px;
  max-width: 400px;
  background-color: transparent;

  & h3 {
    padding: 15px;
    border-top: 2px solid $yellow;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.card__logo, .card__content, .card h3, .card__footer {
  @include ticket-background-with-shadow;
}

.card__logo img {
  width: 100%;
}

.card__organizer__logo {
  width: 48px;
  height: 48px;
}

.card__footer {
  border-top: 1px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;

  & a {
    background-color: $red;
    border-left: 1px solid gray;
    color: white;
  }

  & a.tickets__link {
    color: $ticket-invert-yellow;
    background-color: $yellow;
    border: none;
  }
}
