@import '../../routes/event/card/style.m.scss';

$shadow: hsla(200, 20%, 20%, 0.25);
$cutout-size: 1.2rem;

.divider {
  position: relative;
  height: $cutout-size;
  background-color: $ticket-bg;
  margin-left: ($cutout-size / 2);
  margin-right: ($cutout-size / 2);

  &::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    border-bottom: 1px dashed $ticket-invert-yellow;
  }
}

.divider__notch {
  position: absolute;
  left: ($cutout-size / 2) * -1;
  width: $cutout-size;
  height: $cutout-size;
  overflow: hidden;

  &::after {
    content: '';
    position: relative;
    display: block;
    width: ($cutout-size * 2);
    height: ($cutout-size * 2);
    right: 100%;
    top: -50%;
    border: ($cutout-size / 2) solid $ticket-bg;
    border-radius: 50%;
    box-shadow: inset 0 2px 4px $shadow;
  }

  &_right {
    left: auto;
    right: ($cutout-size / 2) * -1;

    &::after {
      right: 0;
    }
  }
}
