@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress {
  margin: auto;
  text-align: center;
  &__icon {
    margin: 10px;
    font-size: 2em;
    vertical-align: middle;
    & i:before {
      animation: rotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
  }
}
